body {
    background: #aaa
}
.content {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.flex-container {
    background: #fff;
    display: flex;
    /*min-height: 600px;*/
    /*flex-direction: row;*/
    /*flex-direction: row-reverse;*/
    /*flex-direction: column;*/
    /*flex-direction: column-reverse;*/
}
/*.flex-container:after {
    content: "";
    display: block;
    clear: both;
}*/

.item {
    height: 100px;
    /*min-width: 120px;*/
}
.first {
    background: green;
    flex-grow: 1;
}
.second {
    background: #f60;
    flex-grow: 2;
}
.third {
    background: red;
    flex-grow: 6;
}
.clear {
    clear: both;
}
